<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295839847760-hqqtha0auvba32rjlf79lselut1fb8ij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295839847760-hqqtha0auvba32rjlf79lselut1fb8ij</string>
	<key>API_KEY</key>
	<string>AIzaSyBrFPu45ySorW9YndU62cK7aVObtP65-V8</string>
	<key>GCM_SENDER_ID</key>
	<string>295839847760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnAuth</string>
	<key>PROJECT_ID</key>
	<string>project-blood-bank-20389</string>
	<key>STORAGE_BUCKET</key>
	<string>project-blood-bank-20389.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295839847760:ios:8f20d8bd01445e15200855</string>
</dict>
</plist>